@import "./globalVar.scss";

.container{
margin-top: 3rem;
display: flex;
flex-direction: column;
align-items: center;

button{
    margin-top: 2rem;
}
main{
    width: 100%;

    .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        color: $main-theme-color;
    }

    h3{
        margin-top: 3rem;
        color: #6d6d6d;
        font-weight: 300;
        font-size: 23px;

        strong{
            display: flex;
            align-items: center;
        }
    }
    }
    p{
        background-color: #F7F7F7;
        margin-top: 3rem;
        font-size: 20px;
        font-weight: bold;
    }

    .categories{
        background-color: #F7F7F7;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        span{
            transition: .1s;
            width: 20%;
            display: flex;
            justify-content: center;
            padding: 10px;
           span:hover{
            transform: scale(0.9);
            cursor: pointer;
           }
        }
    } 
}
}
@media screen and (max-width:850px) {
    .container{
        main{
            .welcome{
            font-size: 14px;
        
            h3{
                font-size: 16px;
                padding: 10px;
                strong{
                    font-size: 14px;
                }
            }
            }
            p{
                margin-top: 1rem;
                font-size: 16px;
            }
        }
        }
}
